@using RockPaperScissors.Web.Controllers;
@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>Rock, Paper, Scissors</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start playing</h2>
        <p>@Html.ActionLink("Click here", nameof(GameController.Index), "Game", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Game Rules</h2>
        <p>A match takes place between 2 players and is made up of 3 games, with the overall winner being the first player to win 2 games (i.e. best of 3).</p>
        <p>Each game consists of both players selecting one of Rock, Paper or Scissors; the game winner is determined based on the following rules:</p>
        <ul>
            <li>Rock beats scissors</li>
            <li>Scissors beats paper</li>
            <li>Paper beats rock</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Types of player</h2>
        <ul>
            <li><strong>Human Player</strong>: must be prompted for a selection of Rock, Paper or Scissors for each turn</li>
            <li><strong>Random Computer Player</strong>: should automatically select one of Rock, Paper or Scissors at random for each turn.</li>
            <li><strong>Tactical Computer Player</strong>: should always select the choice that would have beaten its last choice, e.g. if it played Scissors in game 2, it should play Rock in game 3.</li>
        </ul>
    </div>
</div>