@model RockPaperScissors.Web.Models.Game

@{
    ViewBag.Title = "Game Over!";
}

<h2>@ViewBag.Title</h2>

@if (Model.HasFinished && Model.Winner > -1)
{
    <h3>The winner is Player @(Model.Winner.GetValueOrDefault(0) + 1)</h3>
}
else
{
    <h3>No Winner!!!</h3>
}

<hr />
@Html.Partial("_gameStatus", Model)


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
